* {
  font-family: $font-family;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

img {
  object-fit: cover;
  object-position: center;
}

body {
  color: $white;
  background: $black;
  
}
