.section-container {
  padding: 10px 60px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    padding: 10px 20px;
  }
}

.pre-fade-up {
  transform: translate(0, 100%);
  display: inline-block;
  transition: 1s ease;

  &.fade-up {
    transform: translate(0, 0);
  }
}

.fade-up-container {
  overflow: hidden;
}

.link {
  color: lighten($theme, 20px);
  background: transparent;

  &--no-style {
    color: inherit;
    text-decoration: none;
  }

  &--no-decoration {
    text-decoration: none;
  }
}

.flex {
  display: flex;

  &--align-center {
    @extend .flex;
    align-items: center;
  }

  &--space-between {
    @extend .flex;
    justify-content: space-between;
  }
}
