$red: tomato;
$black: #141314;
$black-alternate: #1d1b1d;
$white: #fff;
$black-secondary: #2c2b2c;
$black-purple: #252229;
$theme: #435d34;

$font-family: "ogg";
$font-family-secondary: "HK Grotesk";

$font-xxlg: 80px;
$font-xlg-med: 40px;
$font-xlg: 21px;
$font-lg: 18px;

